[workspace]
resolver = "3"
members = [".", "rust-plugin-macro", "rust-plugin-test", "xtask"]

[workspace.dependencies]
rust-plugin-macro = { path = "rust-plugin-macro", version = "0.1" }

[package]
name = "dragonfly-plugin"
version = "0.1.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/secmc/dragonfly-plugins"
description = "Dragonfly gRPC plugin SDK for Rust"
homepage = "https://github.com/secmc/dragonfly-plugins"
keywords = ["dragonfly", "plugin", "grpc", "macro"]

[lib]
path = "src/lib.rs"

[dependencies]
async-trait = "0.1.89"
prettyplease = "0.2.37"
prost = "0.13"
tokio = { version = "1.48.0", features = ["net"] }
tokio-stream = "0.1.17"
tonic = { version = "0.12", features = ["transport"] }
tower = "0.5"
hyper-util = { version = "0.1", features = ["tokio"] }
rust-plugin-macro = { workspace = true, version = "0.1" }
